<!DOCTYPE html>
<html {{ site.language_attributes }} class="site">
	<head>
		<meta charset="{{ site.charset }}"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="pingback" href="{{ site.pingback_url }}"/>

		<title>{{ function('wp_title') }}</title>

		{{ function('wp_head') }}
	</head>

	<body class="{{ body_class }}">

		{% include "partials/header.twig" %}
		{% include "partials/scrolled-header.twig" %}

		{% block content %}
			<p>Sorry, no content</p>
		{% endblock %}

		{% include "partials/footer.twig" %}

	</body>
</html>
