{% if available_classes is not empty %}
	<section class="container">
		<h2>Enrolment options</h2>
		{% for ac in available_classes  %}
			<p>{{ ac.name }}</p>
			{% if ac.has_dates %}
				<p>{{ ac.start_date }}</p> - <p>{{ ac.end_date }}</p>
			{% endif %}

			<p>{{ ac.attributes['pa_class-payment-length']|capitalize|replace({'-':' '}) }}</p>

			<a href="{{ cart_url }}?add-to-cart={{ ac.variation_id }}" class="button">Add to basket</a>

		{% endfor %}
	</section>
{% endif %}