<article id="{{ product.id }}" class="product-tease">
	<div class="product-tease__image_parent">
		<img src="{{ product.image.src|resize(350) }}" alt="{{ product.image.alt }}" class="product-tease__image">
	</div>
	<p class="product-tease__name">{{ product.name }}</p>
	<p class="product-tease__price">
		£{{ product.price }}
		{% if product.sale_price is not empty %}
			- <span class="regular_price">£{{ product.regular_price }}</span>
		{% endif %}
	</p>
	<a href="{{ product.link }}" class="button">View more</a>
</article>